<!DOCTYPE html>
<html>
<head>
    <title>Administrator Login</title>
    <link rel="stylesheet" href="/static/deleteCourse.css" />
    <script src="/static/"> </script>
</head>
<body>
    <div>
        <div class="page">

            <div class="navBar">
                <div class="insideNavbar">
                    <img src="/static/fiuLogo.png" class="fiuLogo"/>
                    <a href="/"> Course Checker</a>
                </div> 
            </div>

            <div class="theActualPage">
                <div class="actualPageContainer">
                    <div class="headers">
                        <h1> Delete a Course </h1>
                        
                    </div>
                    
                    <div class="backgroundImage">
                        
                        
                        {% for i in course_list %}
                        <div class="courseList">
                            
                            <h1> Class Code: {{ i["classCode"] }} </h1>
                            <p>Class Name: {{  i["ClassName"]  }}</p>
                            <p>Class Code: {{  i["classCode"]  }}</p>
                            <p>Total Seats: {{  i["TotalSeats"]  }}</p>
                            <p>Seats Taken: {{  i["SeatsTaken"]  }}</p> 
                            <p>Professor: {{ i["professorName"] }}</p>
                            <p>Modality: {{ i["modality"] }}</p>
                            <p>Times: {{ i["classSchedule"] }}</p>
                            <br>
                            <form action="/delete_course/{{ i["classId"] }}"  method="POST">
                                <button class="deleteButton"> Delete </button>
                            </form>
                        </div>
                        {% endfor %}
                        


                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>