<!DOCTYPE html>
<html>
<head>
    <title>Course Checker Home</title>
    <link rel="stylesheet" href="/static/homePage.css">
</head>
<body>
    <div>
        <div class="">

            <div class="navBar"> 
                <div class="insideNavbar">
                    <img src="/static/fiuLogo.png" class="fiuLogo"/>
                    <p > Course Checker</p>
                </div>      
            </div>

            <div class="block1"> 
                <h1 class="boldedTitle">FIU Course Checker</h1>

                <div class="block1Half">

                    <div class="firstHalf">
                        <div class="block1Text">
                            <div class="bigTitle">
                                Don't wait in the slow lane - our web app revolutionizes your FIU class search, so you can focus on acing your courses!
                            </div>

                            <div class="smallTitle">
                                Select if you are a student looking for available courses, or if you are a professor looking to add a new course
                            </div>
                            
                            <div class="buttonContainer">
                                <button class="buttonStyle"> Student </button> 
                                <button class="buttonStyle"> Administrator </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="secondHalf">
                        <img src="/static/fiuCourses.jpg" class="secondHalfImage"/>
                    </div>

                </div>

            </div>  

            <div class="block2">
                <h1 class="block2Title"> The process is quick and simple </h1>
                
                <div class="miniContainers">
                    <div class="container1">
                        <img src="/static/coursesSvg.png" class="imageCourseSvg"/>
                        <p> Check Your Courses </p>
                        <p> SOme small sentence about checking paragrpahs </p>
                    </div>
                    
                    <div class="container2">
                        <img src="/static/professorSvg.png" class="imageProfSvg"/>
                        <p> For Professors </p>
                        <p> SOme small sentence about checking paragrpahs </p>
                    </div>

                    <div class="container3">
                        <img src="/static/studentSvg.png" class="imageStudSvg"/>
                        <p> For Students </p>
                        <p> SOme small sentence about checking paragrpahs </p>        
                    </div>                    
                </div>

                
               
            </div>
            
        </div>
    </div>
    

</body>