<!DOCTYPE html>
<html>
<head>
    <title>Course Checker Home</title>
    <link rel="stylesheet" href="/static/homePage.css">
</head>
<body>
    <div>
        <div class="">

            <div class="navBar"> 
                <div class="insideNavbar">
                    <img src="/static/fiuLogo.png" class="fiuLogo"/>
                    <a href="/"> Course Checker</a>
                </div>      
            </div>

            <div class="block1"> 
                <h1 class="boldedTitle">FIU Course Checker</h1>

                <div class="block1Half">

                    <div class="firstHalf">
                        <div class="block1Text">
                            <div class="bigTitle">
                                Don't wait in the slow site - our web app revolutionizes your FIU class search, so you can focus on acing your courses!
                            </div>

                            <div class="smallTitle">
                                Select if you are a student looking for available courses, or if you are an administrator looking to add a new course
                            </div>
                            
                            <div class="buttonContainer">
                                <a href="/search_course">
                                    <button class="buttonStyle"> Student </button> 
                                </a>
                                <a href="/admin_login">
                                    <button class="buttonStyle"> Administrator </button>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="secondHalf">
                        <img src="/static/fiuCourses.jpg" class="secondHalfImage"/>
                    </div>

                </div>

            </div>  

            <div class="block2">
                <h1 class="block2Title"> The process is quick and simple </h1>
                
                <div class="miniContainers">
                    <div class="container1">
                        <img src="/static/coursesSvg.png" class="imageCourseSvg"/>
                        <p> Check for Courses </p>
                        <p> Available for FIU students and administrators to view courses that are available in real time, and update the course list for administrators </p>
                    </div>
                    
                    <div class="container2">
                        <img src="/static/professorSvg.png" class="imageProfSvg"/>
                        <p> For Administrators </p>
                        <p> Easy to use appliaction to add courses, delete courses, or update a current course for students to view in realtime </p>
                    </div>

                    <div class="container3">
                        <img src="/static/studentSvg.png" class="imageStudSvg"/>
                        <p> For Students </p>
                        <p> Easy to use to find avilabale courses that are contantly updates, without having to authenticate </p>        
                    </div>                    
                </div>

                
               
            </div>
            
        </div>
    </div>
    

</body>